<section class="container mt-5">
 <h2 class="fs-1 lh-lg fw-semibold mt-5">Public Recipes</h2>
  <div>
    <ul class="m-0 p-0">
      <% @recipes.each do |recipe| %>
      <li class="card list-style-none mb-4 border border-dark">
        <div class="card-header fs-4">
        <%= link_to recipe.name, recipe_path(recipe.id), class: "text-decoration-none" %>
        </div>
        <div class="card-body">
          <p class="card-title fs-5 mb-4">Description: <%= recipe.description %></p>
          <div class="d-flex justify-content-between">
            <span class="card-text">Cooking Time: <%= recipe.cooking_time %> minute(s)</span><br>
            <span class="card-text">Preparation Time: <%= recipe.preparation_time %> minute(s)</span>
          </div>
        </div>
      </li>
      <% end %>
        </ul>
  </div>
</section>
