<section class="container mt-2">
  <div class="d-flex justify-content-end">
    <%= link_to 'Create A Recipe', new_recipe_path, class: "btn btn-primary" %>
  </div>
  <h2 class="fs-1 lh-lg fw-semibold mt-5">My Recipes</h2>
  <ul>
    <% @recipes.order(:created_at).each do |recipe| %>
    <li>
      <div>
        <%= link_to recipe.name, recipe_path(recipe.id) %>
          <% if can? :destroy, recipe %>
        <%= link_to "Remove", recipe_path(recipe.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
      </div>
      <article><%= recipe.description %></article>
    </li>
     <% end %>
  </ul>
</section>
